# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checkers / linters
.mypy_cache/
.pyre/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Output example files
exposedIndices.txt  
exposed.xyz  
ngpb.stderr.log  
ngpb.stdout.log
*.vtu
*.pvtu
phi_*.txt